<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>WebSocket</title>
</head>

<body>
    <p id="status"></p>
    <form id="form">
        <input id="input" />
    </form>

    <button id="btn">close</button>
    <button id="btn2">open</button>

    <div id="output">
        Чат
    </div>

    <style>
        p {
            margin: 0;
            padding: 0;
        }

        #output {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            height: 600px;
            max-height: 600px;
            border: 1px solid red;
            max-width: 400px;
            overflow: auto;
            padding: 0.5rem;
        }

        .message {
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            margin: 0;
            padding: 0.25rem 0.5rem;
            background: #2d6bca;
            color: white;
            border-radius: 0.5rem;
            white-space: pre;
        }

        .message[data-resp] {
            align-self: flex-start;
            background: #e01d57;
        }


        .processing {
            opacity: 0.8;
        }

        .processing:after {
            content: ' ...';
        }
    </style>

    <script>
        var loc = window.location;
        var uri = 'ws:';

        if (loc.protocol === 'https:') {
            uri = 'wss:';
        }
        uri += '//' + loc.host;
        uri += loc.pathname + 'ws';

        const status = document.querySelector('#status');

        function scroll() {
            document.querySelector('#output').scrollTo({ top: 9999999999999 });
        }

        function connect() {
            status.textContent = 'idle';

            ws = new WebSocket(uri);

            let tim;

            ws.onopen = function () {
                console.log('Connected');
                status.textContent = 'Connected';
            }

            function onRegenerate(e) {
                e.preventDefault();

                const msgId = e.target.getAttribute('data-message-id');
                ws.send(JSON.stringify({ type: 'regenerate', hash: msgId }));
            }

            function tryRestoreError(e) {
                e.preventDefault();
                ws.send(JSON.stringify({ type: 'retry' }));
            }

            ws.onmessage = function (evt) {
                if (evt.data) {
                    let parsed;

                    try {
                        parsed = JSON.parse(evt.data)
                    } catch (e) {
                        console.error(e)
                    }

                    document.querySelector('#typing')?.remove();
                    document.querySelector('#responseerror')?.remove();

                    if (parsed.self && parsed.type === "text") {
                        const e = document.querySelector(`#${parsed.hash}`);

                        if (e) {
                            e.classList.remove('processing')
                        }
                    } else if (parsed.type === "typing") {
                        const p = document.createElement('p');

                        p.textContent = parsed.value;
                        p.id = 'typing';
                        p.classList.add('response');

                        document.querySelector('#output').append(p);
                        scroll();
                    } else if (!parsed.self && parsed.type === "text") {
                        const p = document.createElement('div');

                        document.querySelectorAll("#regenerate").forEach(item => {
                            item.removeEventListener('click', onRegenerate);
                            item.remove();
                        });

                        const btn = document.createElement('button');
                        btn.textContent = 'Regenerate';
                        btn.id = 'regenerate';
                        btn.setAttribute('data-message-id', parsed.hash);

                        const pp = document.createElement('p');
                        pp.textContent = parsed.value;
                        pp.setAttribute('data-id', parsed.hash);
                        p.classList.add('message');
                        p.setAttribute('data-resp', '');

                        btn.addEventListener('click', onRegenerate);

                        p.append(pp, btn);

                        document.querySelector('#output').append(p);
                        scroll();
                    } else if (parsed.type === 'response_error') {
                        document.querySelectorAll("#regenerate").forEach(item => {
                            item.removeEventListener('click', onRegenerate);
                            item.remove();
                        });

                        const p = document.createElement('div');
                        const p1 = document.createElement('p');
                        p1.textContent = 'Failed to process your request';
                        const p2 = document.createElement('p');
                        p2.textContent = 'Or continue chating';
                        const btn = document.createElement('button');
                        btn.textContent = 'Try again';
                        btn.setAttribute('data-request-id', parsed.request_id);
                        btn.id = 'try-again';
                        p.append(p1, btn, p2);
                        p.id = 'responseerror';

                        btn.addEventListener('click', tryRestoreError);

                        document.querySelector('#output').append(p);
                        scroll();
                    } else if (!parsed.self && parsed.type === "regenerate_response") {
                        const q = document.querySelector(`[data-id="${parsed.hash}"]`);

                        if (q) {
                            q.textContent = parsed.value;
                        }
                    }
                }
            }

            ws.onclose = function (evt) {
                console.log('Disconnected');
                status.textContent = 'Disconnected';

                setTimeout(() => {
                    connect();
                }, 1000);

                if (tim) {
                    clearTimeout(tim);
                }
            }

            ws.onerror = function (e) {
                console.log('error', e);

                status.textContent = 'Error';
            }
        }

        connect();

        const _form = document.querySelector('#form');
        const input = document.querySelector('input');
        const btn = document.querySelector('#btn');

        const UUID_MASK = 'qxxxxxxxxxxxx4xxxyxxxxxxxxxxxxxxx';
        const UUID_MASK_CHAR_REGEX = /[xy]/g;

        function generateUUID() {
            let d = new Date().getTime();

            if (
                typeof performance !== 'undefined' &&
                typeof performance.now === 'function'
            ) {
                d += performance.now(); // use high-precision timer if available
            }

            return UUID_MASK.replace(UUID_MASK_CHAR_REGEX, (char) => {
                const rand = (d + Math.random() * 16) % 16 | 0;

                d = Math.floor(d / 16);

                return (char === 'x' ? rand : (rand & 0x3) | 0x8).toString(16);
            });
        }


        _form.addEventListener('submit', (e) => {
            e.preventDefault();

            let value = input.value;
            value = value.trim();

            if (!value) {
                return;
            }

            const t = document.createElement('p');
            const hash = generateUUID();

            t.id = hash;
            t.textContent = value;
            t.classList.add('processing', 'message');

            document.querySelector('#output').append(t);

            ws.send(JSON.stringify({ type: 'message', value, hash }));
            scroll();

            input.value = '';
        });

        btn.onclick = () => {
            ws.close();
        }
    </script>
</body>

</html>